body{
    background-color: rgb(27, 99, 146);
}

h3{
    font-size: 40px !important;
}

.btn-success{
    font-size: 20px;
    border-width: 0px;
    border-radius: 100px;
}

.btn-success:hover{
    background-color: rgb(42, 152, 255);
}

canvas{
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes fade{
    10%{box-shadow: 1px 1px 38px rgb(49, 255, 94);}
    50%{box-shadow: 1px 1px 38px rgb(0, 183, 255);}
    100%{box-shadow: 1px 1px 38px rgb(49, 255, 94);}
}

p{
    color: white;
    font-weight: bolder;
}